/* styles.css */
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
body {
  background-image: url("assets/image.jpg");
  background-size: cover; /* Adjust as needed */
  background-repeat: no-repeat;
  background-attachment: fixed; /* Fixed background */
  font-family: "Inter", sans-serif;
  /* Additional styles as needed */
}
.el-table th.el-table__cell > .cell {
  display: inline-block;
  box-sizing: border-box;
  position: relative;
  vertical-align: middle;
  padding-left: 10px;
  padding-right: 10px;
  width: 100%;
  text-align: center !important;
}
.el-table .cell {
  box-sizing: border-box;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  word-break: break-all;
  line-height: 23px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center !important;
  font-size: 12px;
}
.el-button.is-circle {
  padding: 8px !important;
  border-radius: 100% !important;
}
.el-button--success:focus,
.el-button--success:hover {
  background: green;
  border-color: #85ce61;
  color: #fff;
}
.el-button--danger:hover {
  color: #fff;
  background-color: red;
  border-color: #f56c6c;
}
.nav-buttons {
  display: flex !important;
  width: 300px !important;
  margin-bottom: 25px !important;
}
.el-button--success.is-plain {
  color: #67c23a;
  background: #f0f9eb;
  border-color: black;
  border: 2px solid;
}
.el-button--info.is-plain {
  border: 2px solid;
}
.el-button--warning.is-plain {
  border: 2px solid;
}
.el-button--primary.is-plain {
  border: 2px solid;
}
.el-button--danger.is-plain {
  border: 2px solid;
}
.el-button--small {
  padding: 6px 10px;
  margin-top: 20px !important;
  font-size: 16px;
  border-radius: 3px;
}
.el-card {
  border-radius: 10px !important;
  border: 4px solid darkcyan;
  background-color: darkcyan !important;
  overflow: hidden;
  color: #303133;
  transition: 0.3s;
  margin-bottom: 30px;
}
.el-dropdown-link {
  cursor: pointer;
  color: black;
}
.el-dropdown-select {
  min-width: 47px;
  position: absolute;
  top: 682px;
  transform-origin: center bottom;
  z-index: 2007;
}

.el-select-dropdown__item {
  font-size: 12px;
  padding: 0 20px;
  position: relative;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #606266;
  height: 34px;
  line-height: 34px;
  box-sizing: border-box;
  cursor: pointer;
}
.el-dropdown {
  font-size: xx-large;
}
.el-dropdown-menu__item {
  line-height: 40px;
  font-size: 17px;
  padding: 10px 30px;
  color: white;
}
.el-dropdown-menu__item i {
  margin-right: 18px;
}
.el-dropdown-menu {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  padding: 0px 0;
  margin: 5px 0;
  background-color: darkcyan;
  border: 1px solid darkcyan;
  border-radius: 20px;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
}

.el-dropdown-selfdefine:focus:not(.focusing) {
  outline-width: 0;
  background: silver !important;
}
.el-select {
  font-size: 12px;
  color: black;
}
.el-input__icon {
  height: 100%;
  width: 25px;
  text-align: center;
  transition: all 0.3s;
  line-height: 40px;
  font-weight: 900;
  font-size: large;
}
.el-input {
  position: relative;
  font-size: 12px;
  width: 100%;
}
.input-with-select .el-input-group__prepend {
  background-color: white;
  border: 3px solid darkcyan;
  border-right: none;
}
.el-input__inner {
  background-color: white;
  box-sizing: border-box;
  color: black;
  border: 3px solid darkcyan;
  display: inline-block;
  height: 38px;
  outline: 0;
  padding: 0 15px;
  transition: border-color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  width: 100%;
}
.el-page-header__left {
  display: flex;
  cursor: pointer;
  margin-right: 40px;
  position: relative;
  margin-left: 30px !important;
}
.el-page-header__left::after {
  position: absolute;
  width: 2px;
  height: 27px;
  right: -17px;
  top: 50%;
  transform: translateY(-50%);
  background-color: black;
}
.el-page-header__title {
  font-size: large;
  font-weight: 500;
}
.el-page-header {
  background: #ffffffc9;
  line-height: 45px;
  border-bottom: 5px solid black;
}
.el-collapse-item__content {
  padding-bottom: 0px;
  font-size: 20px;
  color: #303133;
  line-height: 1.5;
  background-color: transparent;
}
.el-collapse {
  border-top: none;
  border-bottom: none;
}
.el-collapse-item__header {
  display: flex;
  align-items: center;
  height: 33px;
  line-height: 53px;
  background-color: transparent;
  color: white;
  cursor: pointer;
  border-bottom: 2px solid white;
  font-size: 18px;
  font-weight: 500;
  transition: border-bottom-color 0.3s;
  outline: 0;
}
.el-collapse-item__wrap {
  will-change: height;
  background-color: transparent;
  overflow: hidden;
  box-sizing: border-box;
  border-bottom: none;
}
.el-autocomplete {
  position: relative;
  display: inline-block;
  width: 100%;
}
.response-message {
  margin-top: 10px;
}
h4 {
  font-weight: bolder;
  font-size: 16px;
  display: flex;
  justify-content: center;
  color: black;
}

p {
  font-size: 14px;
  color: white;
}
strong {
  font-size: 16px;
  font-weight: bolder;
  color: black;
}
.suggestion-card {
  width: calc(33.33% - 20px);
  margin: 10px;
  min-width: -moz-fit-content;
  min-width: fit-content;
  background-color: none;
  margin-top: 24px !important;
}
.logo-text {
  font-size: 1.4em;
  font-weight: bolder;
  color: black;
  width: -moz-max-content;
  width: min-content;
  margin-left: 10px;
  margin-right: 10px;
}
.header {
  background: #ffffffc9 !important;
  height: 100px !important;
  border-bottom: 5px solid black;
  width: 100%;
  padding: 0 15px !important;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.loading-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 999;
}
.loading-indicator {
  text-align: center;
  margin-top: 10px;
  background-color: none;
}
.loading-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.loading-text {
  font-size: 20px;
  font-weight: bold;
}
.health-loading {
  padding: 20px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  margin-bottom: 10px;
}
.main-content {
  background-color: #ffffffc9 !important;
  min-height: 90vh;
  flex: 1;
}
.footer1 {
  height: auto !important;
  line-height: 15px;
  background: #ffffffc9;
  padding: 0px 0;
  text-align: center;
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  border-top: 5px solid black;
}
.footer-column {
  padding-left: 10px;
  padding-right: 10px;
  align-content: center;
  flex-direction: column;
  line-height: 10px;
}
.container {
  max-width: -webkit-fill-available;
  margin: 0 auto;
}
.joke-card {
  font-size: x-large;
  color: white;
  font-weight: bolder;
}
.social-icons i {
  font-size: 24px;
  margin-right: 10px;
}
.el-button-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
.footer2 {
  height: 79px;
  line-height: 70px;
  background: none;
  padding: 5px 0;
  border-top: 3px solid black;
  color: #fff;
  text-align: center;
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: small;
  background: #ffffffa3 !important;
}
.account-page {
  height: 100%;
}
.header-title {
  padding: 0 0px;
  text-align: center;
}
.account-form {
  padding: 20px;
}
.status {
  margin-top: 10px;
  color: #2196f3;
  font-weight: bold;
}
.add-item-title {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
}
.el-form-item {
  margin-bottom: 15px;
}
.add-item-container {
  width: 100%;
  margin: 0 auto;
  padding: 9px;
  display: flex;
  margin-left: -27px;
}
.el-tabs__item {
  padding: 0 20px;
  height: 40px;
  box-sizing: border-box;
  line-height: 40px;
  display: inline-block;
  list-style: none;
  font-size: 14px;
  font-weight: 500;
  color: white;
}
.el-tabs__item.is-active {
  color: darkslategrey;
}
.el-tabs {
  background-color: transparent !important;
}
.el-tabs__label {
  font-size: x-large !important;
}
.el-icon-menu {
  margin-left: 10px;
}
.el-icon-box {
  font-size: 22px;
  color: black;
}
.el-icon-success {
  font-size: 22px;
  color: black;
}
.el-icon-food {
  font-size: 22px;
  color: black;
}
.el-icon-bicycle {
  font-size: 22px;
  color: black;
}
.el-icon-error {
  font-size: 22px;
  color: black;
}
.el-icon-s-claim {
  font-size: 22px;
  color: black;
}
.item-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}
.item-row {
  border: 1px solid #ccc;
}
.item-image {
  width: 100px;
  padding: 10px;
}
.item-image img {
  max-width: 100%;
  height: auto;
}
.item-details {
  padding: 10px;
}
.item-name,
.item-price,
.item-status,
.item-dates,
.item-date,
.item-expiry {
  margin-bottom: 10px;
}
.item-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.el-table {
  width: 100% !important;
  max-width: 100% !important;
  font-size: 12px !important;
}
.el-form-item__label {
  text-align: right;
  vertical-align: middle;
  float: left;
  font-size: 14px;
  color: black;
  line-height: 40px;
  padding: 0 12px 0 0;
  box-sizing: border-box;
}
@media screen and (max-width: 350px) {
  .el-carousel__container {
    height: 450px !important;
  }
}
@media screen and (max-width: 400px) {
  .joke-card {
    font-size: large;
    color: white;
    font-weight: bolder;
  }
  .el-dropdown-select {
    min-width: 47px;
    position: absolute;
    top: 682px;
    transform-origin: center bottom;
    z-index: 2007;
  }
  .el-dropdown-menu__item {
    padding: 5px 15px;
    font-size: 15px;
  }
  .el-select-dropdown__item {
    font-size: 10px;
    padding: 0 20px;
    position: relative;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #606266;
    height: 34px;
    line-height: 34px;
    box-sizing: border-box;
    cursor: pointer;
  }
  .el-button.is-circle {
    padding: 4px !important;
  }
  .footer1 {
    display: none;
  }

  .el-dropdown {
    font-size: xx-large !important;
  }
  .upload-demo {
    width: max-content;
  }
  .account-page {
    height: 100%;
  }

  .header-title {
    text-align: center;
  }

  .account-form {
    padding: 20px;
  }
  .el-container {
    flex: 1;
    flex-basis: auto;
    box-sizing: border-box;
    min-width: -2px;
    margin-right: 17px;
  }

  .input-with-select {
    width: 100%;
  }
  .el-input {
    position: relative;
    font-size: 10px;
  }
  .el-table {
    width: 100% !important;
    max-width: 100% !important;
    font-size: 12px !important;
  }

  .el-tabs__label {
    font-size: large !important;
  }
  .el-tabs__sublabel {
    font-size: large !important;
  }
  .el-button--small {
    padding: 9px 15px;
    font-size: 12px;
    border-radius: 3px;
  }
  p {
    font-size: 10px;
    color: white;
  }
  h {
    font-size: 10px !important;
    color: black;
  }
  strong {
    font-size: 10px;
    color: black;
  }
  .el-icon-goods {
    font-size: xx-large !important;
    background: none !important;
    border: none;
    color: black !important;
    margin-top: 15px !important;
  }
  .el-icon-camera {
    background: none !important;
    border: none;
    color: black !important;
    margin-top: 15px !important;
  }
  .el-icon-box {
    font-size: xx-large !important;
    background: none !important;
    border: none;
    color: black !important;
    margin-top: 15px !important;
  }
  .el-icon-food {
    font-size: 20px;
    color: black;
  }
  .el-icon-bicycle {
    font-size: 20px;
    color: black;
  }
  .el-icon-success {
    font-size: 20px;
    color: black;
  }
  .el-icon-error {
    font-size: 20px;
    color: black;
  }
  .el-icon-s-claim {
    font-size: 20px;
    color: black;
  }
  .el-collapse-item__header {
    display: flex;
    align-items: center;
    height: 33px;
    line-height: 53px;
    background-color: transparent;
    color: #303133;
    cursor: pointer;
    border-bottom: 2px solid black;
    font-size: 10px;
    font-weight: 500;
    transition: border-bottom-color 0.3s;
    outline: 0;
  }
  .footer2 {
    height: 79px;
    line-height: 70px;
    background: none;
    padding: 5px 0;
    color: #fff;
    text-align: center;
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: small;
    background: #ffffffa3 !important;
  }
  .el-table .cell {
    line-height: 23px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center !important;
    font-size: 10px;
  }
}
@media screen and (min-width: 440px) {
  .footer2 {
    display: none;
  }
}
@media screen and (max-width: 550px) {
  .searchDev {
    display: none !important;
  }
  .nav-buttons {
    display: flex !important;
    width: 100% !important;
    margin-bottom: 25px !important;
    flex-direction: column !important;
  }
  .el-button--primary.is-plain {
    width: 100%;
    margin-bottom: 10px;
    margin-left: 0px !important;
  }
  .el-button--warning.is-plain {
    width: 100%;
    margin-bottom: 10px;
    margin-left: 0px !important;
  }
  .el-button--info.is-plain {
    width: 100%;
    margin-bottom: 10px;
    margin-left: 0px !important;
  }
  .el-button--danger.is-plain {
    width: 100%;
    margin-bottom: 10px;
    margin-left: 0px !important;
  }
  .el-col-8 {
    width: 100%;
  }
  .el-carousel__container {
    height: 320px !important;
  }
}
