.env
master_expired.json
master_nonexpired.json
result.json
shopping_list.json
/myenv
/item_frequency_list
my-grocery-home-d518b9eda5ba.json
my-grocery-home-fe8f9d6ffb94.json
application_default_credentials.json
client_secret_888361723877-q0ddtdcr6kum2jr7k8bir3j8mnnd1ch2.apps.googleusercontent.com.json