.env
master_expired.json
master_nonexpired.json
result.json
shopping_list.json
/myenv
/item_frequency_list
my-grocery-home-firebase-adminsdk-hdtde-eb31bbe2f8.json
my-grocery-home-745726ebbfac.json
application_default_credentials.json
my-grocery-home-firebase-adminsdk-hdtde-3b0731d354.json
client_secret_888361723877-jpss9hmclhi12om6dah15pm2epe4tget.apps.googleusercontent.com.json